.body {
    background: #ffff99;
}
.body .contenedor-encabezado {
    background: #993333;
    color: beige;
    grid-area: header;
    margin: 11px;
}
.contenedor-encabezado {
    background:#1a1a1a;
    color:hsl(60, 100%, 80%);
    width: 20%;
    float: left;
    height: 750px;
    margin-right: 20px;
    /* position: fixed; */
}
.imagenes {
    width: 182px;
    height: 175px;
    border-radius: 50%;
}
.contenedor-pintado {
    background: #ffff1a;
    display: inline-block;
    margin-top: 3% solid;
    border: 15px #005ce6 solid;
    margin: 25px;
    text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 640px) {

}